body {
  background-color: black;
  
  color: white;
}

.calculation {
  color: white;
  font-family: Arial;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
  }

.grey-button, .orange-button {
  background-color: rgb(51, 51, 51);
  font-family: Arial;
  font-size: 22px;
  padding: 5px;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  color: white;
  border: none;
}

.orange-button {
  background-color: rgb(254, 160, 10);
}

